p{
    font-size: 1.25rem;
    color: #C4C4C4;
    font-family: arial;
    line-height: 2.5rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.conteudo{
    margin-bottom: 6.3rem;
}
.conteudo__imagem{
    width: 100%;
    height: auto;
}