<navigation-bar></navigation-bar>
<header-noticia [titulo_header]="titulo" [descricao_header]="descricao" [data_header]="data"></header-noticia>
<noticia-banner [ImagemFundo]="ImagemFundo" [TipoBanner]="genero"></noticia-banner>
<div class="conteudo">
  <p>
    torem ipsum dolor sit amet, consectetur adipiscing elite Aliquam in mauris
    vel dolor consectetur scelerisque quis eu eros. Morbi varius eu Odio nec
    vehicula. Maecenas blandit nunc vitae enim fermentum, nec ullamcorper magna
    molestie. Fusce efficitur ipsum ullamcorper tellus pharetra, et vehicula
    enim feugiat. Sed scelerisque at orci rhoncus dapibus. Donec maximus
    porttitor mauris. Sed tempus felis sit amet gravida sagittis. Ut eleifend
    ornare leo et auctor.
  </p>
  <p>
    torem ipsum dolor sit amet, consectetur adipiscing elite Aliquam in mauris
    vel dolor consectetur scelerisque quis eu eros. Morbi varius eu Odio nec
    vehicula. Maecenas blandit nunc vitae enim fermentum, nec ullamcorper magna
    molestie. Fusce efficitur ipsum ullamcorper tellus pharetra, et vehicula
    enim feugiat. Sed scelerisque at orci rhoncus dapibus. Donec maximus
    porttitor mauris. Sed tempus felis sit amet gravida sagittis. Ut eleifend
    ornare leo et auctor.
  </p>
  <img
    class="conteudo__imagem"
    src="../../../assets/images/Vidas-ao-Vento-Naoko-2.png"
    alt=""
  />
  <p>
    torem ipsum dolor sit amet, consectetur adipiscing elite Aliquam in mauris
    vel dolor consectetur scelerisque quis eu eros. Morbi varius eu Odio nec
    vehicula. Maecenas blandit nunc vitae enim fermentum, nec ullamcorper magna
    molestie. Fusce efficitur ipsum ullamcorper tellus pharetra, et vehicula
    enim feugiat. Sed scelerisque at orci rhoncus dapibus. Donec maximus
    porttitor mauris. Sed tempus felis sit amet gravida sagittis. Ut eleifend
    ornare leo et auctor.
  </p>
</div>
<noticias-recentes></noticias-recentes>
<footer-component></footer-component>
