.navigation-bar{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: arial;
}
.navigation-bar__icon{
    color: #8257E6;
    font-size: 24px;
}
.navigation-bar__menu{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.navigation-bar__menu__list{
    display: flex;
    gap: 2rem;
}
.navigation-bar__menu__list__item{
    list-style-type: none;
}
.navigation-bar__menu__list__item:hover{
    border-bottom: 2px solid #8257e6;
}
.navigation-bar__menu__botao{
    display: flex;
    justify-content:center;
    align-items: center;
    border: solid 1px #8257E6;
    color: #fff;
    border-radius: 30px;
    height: 28px;
    width: 128px;
}