<div class="navigation-bar">
  <div class="navigation-bar__icon">
    <span>Naped</span>
  </div>
  <nav class="navigation-bar__menu">
    <ul class="navigation-bar__menu__list">
      <li class="navigation-bar__menu__list__item"><a [routerLink]="['/'] " routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li class="navigation-bar__menu__list__item"><a [routerLink]="['/filmes']" routerLinkActive="active">Filmes</a></li>
      <li class="navigation-bar__menu__list__item"><a [routerLink]="['/animes']" routerLinkActive="active">Animes</a></li>
      <li class="navigation-bar__menu__list__item"><a [routerLink]="['/games']" routerLinkActive="active">Games</a></li>
    </ul>
    <a class="navigation-bar__menu__botao" [routerLink]="['/login']">Minha conta</a>
  </nav>
</div>