<div class="navigation-bar">
  <div class="navigation-bar__icon">
    <span>Naped</span>
  </div>
  <nav class="navigation-bar__menu">
    <ul class="navigation-bar__menu__list">
      <li class="navigation-bar__menu__list__item"><a [routerLink]="['/']">Home</a></li>
      <li class="navigation-bar__menu__list__item"><a [routerLink]="['/']">Séries</a></li>
      <li class="navigation-bar__menu__list__item"><a [routerLink]="['/animes']">Animes</a></li>
      <li class="navigation-bar__menu__list__item"><a>Games</a></li>
    </ul>
    <a class="navigation-bar__menu__botao">Minha conta</a>
  </nav>
</div>