.rodape{
    display: flex;
    flex-direction: column;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: arial;
}
.rodape__titulo{
    color: #8257E6;
    font-size: 1.5rem;
}