<div class="container__titulo">
    <h3>Notícias mais recentes</h3>
</div>
<div class="container__noticias">
    <card-base class="noticia-short" typeCard="medium"></card-base>
    <card-base class="noticia-short" typeCard="medium"></card-base>
    <card-base class="noticia-short" typeCard="medium"></card-base>
    
    <card-base class="noticia-short" typeCard="medium"></card-base>
    <card-base class="noticia-short" typeCard="medium"></card-base>
    <card-base class="noticia-short" typeCard="medium"></card-base>
</div>
