.container__titulo> h3{
    color: #fff;
    font-family: arial;
    font-size: 24px;
    border-bottom: solid 2px #8257E6;
}
.container__noticias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
    justify-content: center;
    margin-bottom: 105px;
}
@media only screen and (max-width: 1090px){
    .container__noticias{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 750px){
    .container__noticias{
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
    }
}