<div class="container__card">
  <div class="card__imagem">
    <span>Lorem</span>
  </div>
  <div class="card__description">
    <p class="description__titulo">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla <br />
      eros tellus, malesuada et velit in, blandit molestie dolor.
    </p>
    <p class="description__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla <br />
      eros tellus, malesuada et velit in, blandit molestie dolor...
    </p>
    <span>00/00/0000</span>
    <a href="#">Ler Noticia</a>
  </div>
</div>
