.noticia-banner{
    background-image: url(../../../../assets/images/Vidas-ao-Vento-Naoko.png);
    background-size: cover;
    width: 85vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
    font-family: arial;
    box-sizing: border-box;
    font-size: 24px;
}
.noticia-banner__title{
    color: #fff;
    width: 6.25rem;
    height: 1.8rem;
    font-size: 1.1rem;
    text-align: center;
    border: none;
    border-radius: 3px;
    background-color: #8257E6;
}