.noticias-centrais {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  max-height: 60rem;
  width: 60vw;
}
::-webkit-scrollbar {
  width: .75rem;
}

::-webkit-scrollbar-track {
  background: #282830;
}

::-webkit-scrollbar-thumb {
  background: #8257e6;
}
@supports (scrollbar-color: #808080 #800080) {
  * {
    scrollbar-color: var(--purple-light) var(--gray200);
    scrollbar-width: auto;
  }
}
