<div class="catalogo__container">
  <div class="catalogo">
    <card-base class="noticia-short" typeCard="medium"></card-base>
    <card-base class="noticia-short" typeCard="medium"></card-base>
    <card-base class="noticia-short" typeCard="medium"></card-base>

    <card-base class="noticia-short" typeCard="medium"></card-base>
    <card-base class="noticia-short" typeCard="medium"></card-base>
    <card-base class="noticia-short" typeCard="medium"></card-base>

    <card-base class="noticia-short" typeCard="medium"></card-base>
    <card-base class="noticia-short" typeCard="medium"></card-base>
    <card-base class="noticia-short" typeCard="medium"></card-base>

    <card-base class="noticia-short" typeCard="medium"></card-base>
    <card-base class="noticia-short" typeCard="medium"></card-base>
    <card-base class="noticia-short" typeCard="medium"></card-base>
  </div>
</div>
