.catalogo__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.catalogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}