.catalogo__container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.catalogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}
@media only screen and (max-width: 1080px) {
    .catalogo{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 750px){
    .catalogo{
        grid-template-columns: repeat(1, 1fr);
    }
}