<div class="card">
    <div
      class="card__imagem"
      [style.background-image]="'url(' + ImagemFundo + ')'"
    >
      <button class="card__imagem__type">{{ TipoGenero }}</button>
    </div>
    <div class="card__informacao">
      <p class="card__titulo">{{ Titulo }}</p>
      <p class="card__descricao">{{ Descricao }}</p>
      <span class="card__data">{{ Data }}</span>
      <a class="card__botao" [routerLink]="['/noticia', TipoGenero, ImagemFundo, Titulo, Data , Descricao]">Ler Noticia</a>
    </div>
</div>
