<navigation-bar></navigation-bar>
<div class="container">
  <div class="login__container">
    <h2 class="login__titulo">Login</h2>
    <div class="login__campos">
      <label for="email" class="login__label">Email:</label>
      <input class="login__input-email" type="email" id="email" />
      
      <label for="senha" class="login__label">Senha:</label>
      <input class="login__input-senha" type="password" id="senha" />
    </div>
    <div class="login__botoes">
      <button class="login__btn btn-entrar">Entrar</button>
      <button class="login__btn btn-registrar">Registrar</button>
    </div>
  </div>
</div>
