<navigation-bar></navigation-bar>
<div class="container__not-found">
  <div class="not-found__description">
    <h2 class="not-found__description__title">Tenho más notícias<br />para você!</h2>
    <p class="not-found__description__text">A página que você está procurando pode ter sido <br> removida ou está temporariamente indisponível.</p>
    <button class="not-found__description__btn" [routerLink]="['/']">Voltar a home</button>
  </div>
  <div class="not-found__banner">
    <img class="not-found__banner__image" src="../../../assets/images/404.svg" alt="">
    <p class="not-found__banner__text">UPS! você Chegou no espaço...<br>
      volte para o mundo nerd!</p>
  </div>
</div>
