.container__not-found{
    color: #fff;
    font-family: arial;
    margin-top: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.not-found__description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.not-found__description__title{
    font-size: 3rem;
    color: #FEFBFB;
}
.not-found__description__text{
    font-size: 1.25rem;
    color: #C4C4C4;
}
.not-found__description__btn{
    background-color: #8257E6;
    height: 2.75rem;
    width: 10.8rem;
    padding: 0.3rem 1.56rem;
    color: #FEFBFB;
    font-size: 1.12rem;
    border-radius: 0.31rem;
}
.not-found__banner{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.not-found__banner__image{
    margin-bottom: 10%;
}
.not-found__banner__text{
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.87rem;
    color: #C4C4C4;
}

@media only screen and (max-width: 900px) {
    .container__not-found{
        flex-direction: column;
        align-items: flex-start;
        gap: 8rem;
    }
}