.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    box-sizing: border-box;
    margin-bottom: 2rem;
    font-family: arial;
}
.banner__image{
    width: 100%;
    height: 300px;
    padding: 30px;
    box-sizing: border-box;
    box-sizing: border-box;
    background-size: cover;
    background-color: rgba(000, 000, 000, 0.5);
}
.banner__informacao{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.banner__titulo{
    font-size: 55px;
    margin-top: 0;
    color: #FEFBFB;
}
.banner__descricao{
    font-size: 20px;
    margin-top: 0;
    color: #C4C4C4;
}