.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cadastro__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
    width: 30vw;
    border-radius: 10px;
    background-color: azure;
}
.cadastro__titulo{
    font-family: arial;
    font-size: 2rem;
    text-transform: uppercase;
    color: #8257E6;
}
.cadastro__campos{
    display: flex;
    width: 60%;
    flex-direction: column;
}
.cadastro__botoes{
    display: flex;
    gap: 1rem;
}
.cadastro__btn{
    width: 5rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
}
.cadastro__btn:hover{
    opacity: 90%;
}
.btn-cancelar{
    background-color: #A0A0A0;
    color: #fff;
}
.btn-cadastrar{
    background-color: #8257E6;
    color: #fff;
}