<navigation-bar></navigation-bar>
<header-component></header-component>
<div class="container__noticias-destaque">
  <card-big></card-big>
  <div class="shorts">
    <card-new class="noticia-short"></card-new>
    <card-new class="noticia-short"></card-new>
  </div>
</div>
<div class="container__noticias">
    <div class="noticias__esquerda">
        <card-long></card-long>
        <card-long></card-long>
        <card-long></card-long>
        <card-long></card-long>
        <card-long></card-long>
    </div>
    <div class="noticias__direita">
        <h2>Lorem Ipsum Dolor</h2>
        <card-new></card-new>
        <card-new></card-new>
        <card-new></card-new>
        <card-new></card-new>
    </div>

</div>
<noticias-recentes></noticias-recentes>
<footer-component></footer-component>
<router-outlet></router-outlet>