.container__noticias-destaque{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 50px;
}
.container__noticias-destaque > .shorts{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container__noticias{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.container__noticias > .noticias__direita{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.container__noticias > .noticias__direita > h2{
    color: #fff;
    font-family: arial;
    margin-top: 0;
}