.container__card{
    background-image: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0.039) 100%), url(../../../assets/images/shingeki.png);
    background-size: cover;
    width: 338px;
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
    font-family: arial;
    font-size: 13px;
    box-sizing: border-box;
}
.container__card > span{
    width: 70px;
    height: 20px;
    text-align: center;
    border-radius: 3px;
    background-color: #8257E6;
}
.container__card > p{
    line-height: 20px;
}